@tailwind components;
@tailwind utilities;


html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"); /* 4 */
}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}


[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
}

a {
  color: inherit;
  text-decoration: inherit;
}


.MuiTableCell-head span {
  justify-content: center;
}

.MuiChip-root .MuiChip-avatarColorPrimary {
  background-color: transparent !important;
}

.MuiAutocomplete-popper {
  min-width: 330px !important;
}

.MuiGridList-root.li:first-child {
  width: 100% !important;
}

.reset-zoom {
  position: absolute;
  top: 20px;
  right: 20px;
}

.MuiDialog-paper {
  margin: 10px !important;

  @media (max-width: 767px) {
    width: 100% !important;
  }
}

body {
  color: rgba(0, 0, 0, 0.87);
}

@media (min-width: 767px) {
  [data-rbd-droppable-id='columnOrder'] {
    max-height: 540px;
    overflow-y: auto;
  }
}

td.MuiCheckbox-root {
  padding: 0 !important;
}

@media print {
  .no-print {
    display: none !important;
    visibility: hidden !important;
  }
  .MuiTableRow-root {
    page-break-before: always !important;
  }
}

@media (min-width: 1023px) {
  .header {
    width: calc(100% - 250px) !important;
  }
}

@media (min-width: 600px) {
  .table-container {
    height: calc((var(--vh, 1vh) * 100) - 56px - 148px - 54px) !important;
  }
}

.table-container {
  height: calc((var(--vh, 1vh) * 100) - 56px - 70px - 54px) !important;
}

.slots-table-container {
  height: calc((var(--vh, 1vh) * 100) - 210px) !important;
}

.header {
  width: 100%;
}

.diagnosisImage:hover {
  transform: scale(200%);
  -webkit-transform: scale(2, 2);
}

.tui-full-calendar-time-date-schedule-block {
  border: 1px solid white;
}

.toastui-calendar-event-time {
  border-top: 1px solid white;
}

input:focus,
textarea:focus {
  box-shadow: none !important;
}

.duplicate {
  animation: grow 3s;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}



/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

